.pln{color:#000}@media screen{.str{color:#080}.kwd{color:#008}.com{color:#800}.typ{color:#606}.lit{color:#066}.clo,.opn,.pun{color:#660}.tag{color:#008}.atn{color:#606}.atv{color:#080}.dec,.var{color:#606}.fun{color:red}}@media print,projection{.kwd,.tag,.typ{font-weight:700}.str{color:#060}.kwd{color:#006}.com{color:#600;font-style:italic}.typ{color:#404}.lit{color:#044}.clo,.opn,.pun{color:#440}.tag{color:#006}.atn{color:#404}.atv{color:#060}}
pre.prettyprint {
    font-size: 16px;
    padding-left: 12px;
    border:1px solid #ddd;
    border-radius: 8px;
    background-color: #f7f7f9;
    white-space: pre-wrap;
    word-wrap: break-word;
    tab-size: 4;
}
pre.prettyprint li{
    line-height: 24px;
}